.widget-container {
  background-color: #bbbbef;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  .header {
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 18px;
  }
  .clear {
    text-align: end;
    color: red;
    margin: 10px 0px;
    cursor: pointer;
    font-weight: 500;
  }
  .widget {
    cursor: pointer;
    background-color: #ccccee;
    font-size: 18px;
    margin: 5px 0px;
    padding: 10px;
    font-weight: 500;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(34, 34, 34, 0.2),
      0 3px 10px 0 rgba(49, 49, 49, 0.19);
  }
  .active {
    background-color: #bbbbef;
    box-shadow: none;
  }
}
